async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.5.30
chardet==4.0.0
cloudscraper==1.2.60
Flask==2.0.1
idna==3.3
loguru==0.5.3
multidict==6.0.2
discord.py==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.1
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.2.1
typing_extensions==4.1.1
urllib3==1.26.5
waitress==2.1.1
